coverage
doc/
#tmp/*.*
.pry_history

config/environments/test.rb
config/environments/dev.rb
spec/was_seed_preassembly/fixtures/workspace
node_modules/
spec/lib/dor/was_crawl/fixtures/stacks/data/indices/path_working/*

# RSpec state file
spec/examples.txt